.header{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: right;
}

.backgroundImage{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.welcomeText{
    margin-top: 560px;
    color: #FAF3E0;
    font-size: 40px;
    font-weight: bold;
    transition: all 1s ease;
}

.hideText{
    transform: translateX(200px);
    opacity: 0;
}

.panel{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 500px;
    background-color: #FAF3E0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: left;
    padding: 100px 20px;
    transform: translate(-100%);
    transition: transform 1s ease;
}

.showPanel{
    transform: translate(0);
}

.welcomeMessage{
   color: #3A2F1F;
   font-size: 30px;
   font-weight: bold;
   
}

.text{
    color: #3A2F1F;
    font-size: 20px;
    text-align: justify;
}

